{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login-signin.css' %}">
</head>
<body>
    <div class="login-page">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Login">
            <div class="signup-link">
                <p>New User <span></span>
                </p>
                <a href="{% url 'signup' %}"> Register Now</a>
            </div>
        </form>
    </div>
</body>
</html>