{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <div class="about-us">
        <div class="about-us-image">
            <img src="{% static 'images/logo.jpg' %}" alt="">
        </div>
        <div class="about-us-description">
            <div class="about-us-heading">
                <h1>About Us</h1>
            </div>
            <p>Lorem ipsum dolor sit amet . The graphic and typographic operators know this well, in reality all the professions dealing with the universe of communication have a stable relationship with these words, but what is it? Lorem ipsum is a dummy text without any sense.
                It is a sequence of Latin words that, as they are positioned, do not form sentences with a complete sense, but give life to a test text useful to fill spaces that will subsequently be occupied from ad hoc texts composed by communication professionals.
                It is certainly the most famous placeholder text even if there are different versions distinguishable from the order in which the Latin words are repeated.
                Lorem ipsum contains the typefaces more in use, an aspect that allows you to have an overview of the rendering of the text in terms of font choice and font size .</p>
        </div>
    </div>
</body>
</html>