{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section id="footer" >
        <div class="footer-main">
            <div class="footer-left">
                <h4>Quick Links</h4>
                <p><a href="">Home</a></p>
                <p><a href="">contact us</a></p>
                <p><a href="">Delivered items</a></p>
                <p><a href="">Yet to deliver</a></p>
            </div>
            <div class="footer-center">
                <h2>Contact us</h2>
                <p>electromart@gmail.com</p>
                <p>contact: <span>9876789878</span></p>
                <p>Address: <span>1st New India Building Mumbai,India</span></p>
            </div>
            <div class="footer-right">
                <h3>Got Any Complaints?</h3>
                <p>Dail Our 24 hours active customer care number in your own language</p>
                <p>2567489</p>
            </div>
        </div>
    </section>
</body>
</html>