{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <!-- <img src="{% static 'images/logo.jpg' %}" alt="" height="23" width="29"> -->
              <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 30px; color: white; letter-spacing: 2px;">
                Electro<span style="color: orange;">Mart</span>
            </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link nav-item-name" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link nav-item-name" href="#">All products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-item-name" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-item-name" href="#">About Us</a>
                  </li> -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item-name" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Track Orders
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'completed_orders' %}">Delivered Orders</a></li>
                      <li><a class="dropdown-item" href="{% url 'yettodeliver' %}">Yet to deliver</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="button-section">
                  <a href="{% url 'logout' %}" class="btn btn-danger" type="submit">Logout</a>
                  <a href="{% url 'wishlist' %}" class="btn wishlist-button"  type="submit"><i class="bi bi-heart-fill"></i>Wishlist</a>
                  <a href="{% url 'cart_view' %}" class="btn cart-button" type="submit"><i class="bi bi-cart"></i>Cart</a>
                </div>
              </div>
            </div>
          </nav>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}